body {
    margin: 0;
    padding: 0;
}

#navbox {
    margin: 0;
    padding: 0;
    position: absolute ;
    overflow: hidden;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.9);
    text-align: center;
    box-shadow: 0 0 20px 2px #000;
    transition: 400ms;
    z-index: 1;
}

#navbox span {
    position: fixed;
    color: white;
    overflow: hidden;
}

#btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 20px;
    z-index: 1;
}

#btn div {
    position: relative;
    margin-top: 10px;
    width: 35px;
    height: 2px;
    background: white;
    transition: 300ms;
}

.d1{
    background: #fff !important;
    top: 2px;
    transform: rotate(45deg);
}

.d2{
    margin: 0 !important;
    display: none;
}

.d3{
    background: #fff !important;
    top: 0;
    margin: 0 !important;
    transform: rotate(-45deg);
}

#navs {
   position: relative;
   margin-top: 55px;
   display: block;
   transition: 900ms;
}

#navs a {
    position: relative;
    right: 7%;
    margin-top: 5px;
    padding: 25px;
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
    outline: none;
    font-weight: bolder;
    transition: 400ms;

}

#navs a:hover {
    background: #fff;
    color: #000;
}

.content {
    overflow: hidden;
    margin-left: 50%;
}


#rights {
    position: fixed;
    bottom: 0;
    margin-left: 32%;
    font-weight: bold;
    font-size: 10px;

}
#home{
    background-color:whitesmoke;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}
.overlay{
    background-color: rgba(0,0,0,0.5)
}
.welc{
    padding-top: calc(50vh - 150px);
    height: 100vh;

}

.auth-forms{
    margin-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    background-color:black;
    height: auto;

}

.auth-family{
    background-image: url("../images/gwen.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}


 .loader
  {
  position: fixed;
   top: 0;
    left: 0;
     width: 100%;
     height: 100vh;
      display: flex;
       }
       .loader div
       {
       width:25%;
       height: 100%;
       background-image: url("../images/pic1.jpeg");
        background-repeat: no-repeat;
        transform: scaleY(0);
         animation: animate 5s ease-in-out infinite;
          }
          .loader div:nth-child(even)
          {
          background-image: url("../images/pic2.jpeg");
          background-repeat: no-repeat;
          height: 100%;
           }
          .loader div:nth-child(1)
          {
           animation-delay: 0.5s;
           background-image: url("../images/pic3.jpeg");

            }
             .loader div:nth-child(2)
             {
             animation-delay: 1s;
             }
             .loader div:nth-child(3)
              {
              animation-delay: 1.5s;
              }
              .loader div:nth-child(4) {
                background-image: url("../images/amin.jpeg");

               animation-delay: 2s;
                }
                 @keyframes animate
                  {
                   0% 
                   { 
                   transform-origin: top; 
                   transform: scaleY(0);
                    }
                     25% 
                     { 
                     transform-origin: top; 
                     transform: scaleY(1); 
                     } 
                     75% 
                     { 
                     transform-origin: bottom; 
                     transform: scaleY(1);
                      } 
                      100%
                       {
                       transform-origin: bottom; 
                       transform: scaleY(0); 
                       }
                        }
#about{
    background-image: url("../images/african.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: fixed;
}
#ovr{
    height: 100vh;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7)

}
.content-section {

    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    color:white;
}
.parag{
color: white;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 16px;

}

}
#sisi{
    font-family: 'Anton', sans-serif;


}
p a{
    text-decoration: none;
}
.design-image{
    padding-top: 25px;
    width:720px;
    height:auto;
}
a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata,.article-content a:hover {
    color: #333;
    text-decoration: none;
}
.media{
    background-color:rgba(0, 0, 0, 0.5);
}
.designs{
    background-image:radial-gradient(circle,#000000,#0000ff);
}




