{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton|Poppins&display=swap" rel="stylesheet">

{% endblock styles %}
<!-- Content block -->
{% block content%}
<div class = "container-fluid" id="about">
    <div class="overlay" id="ovr">
        <h1 class="text-center" style="color:white;"id="sisi" >ABOUT US</h1>
        <hr  style="border-width:2px; size:20px; border-color:lightseagreen; width: 100%; margin-left:0%">
        <div class="parag"><p>For many years, fashion design has been closely associated with tailoring, often considered the last resort after poor performance in school. <br>
                This is both wrong and unfortunate due to the fact that the international market of fashion is a thriving industry employing<br> 
                        millions, adding value and greatly propelling the economies of many nations.In Kenya, there are</br> 
                                many aspiring and gifted designers with a passion for fashion and dreams<br> 
                                      to move from just tailoring to become renowned fashion brands.<br><br>
    <strong>Fashion App</strong> is an web application that helps many of these gifted designers to achieve their dreams in fashion by helping them get<br>
               their brilliant fashion ideas out to the world. Fashion App provides a platform where designers can create profiles and share some<br>
                    of their brilliant ideas. Fashion app also provides a platform for other users who may want to get new fashion<br>
                           design.<br>
            There is great potential and genuine interest in fashion in East Africa today, evidenced by the frequent occurrence of creative fashion events. <br>
            Creativity alone without excellence will however perpetually keep us in a stagnant market. It is upon this foundation that Fashion App is created.</p>
        </div>
        <div class="container" id="sema">
            <div class="row">
                <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img src="../static/images/melody.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                      <div class="card" style="width: 18rem;">
                            <img src="../static/images/afric.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                            </div>
                          </div>
                          </div>
                          <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                      <img src="../static/images/picha.jpeg" class="card-img-top" alt="...">
                                      <div class="card-body">
                                      </div>
                                    </div>
                                    </div>
        </div>
        </div>
</div>
        </div>







{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}
{% endblock %}
