{% extends 'base.html' %}
{% block styles%} 
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock styles %}
<!-- Content block -->
{% block content%}
<div class="ginfo" id="pages">
</div>
</div>

<div class="gran gabout" >
    <div class="ginfo">
        <img float="left" src="https://flager.ru/228-tm_thickbox_default/kupit-flag-ukraini-s-gerbom.jpg" width="30%"
            alt="" />
        <h1>About Ukraine</h1>
        Ukraine (Ukrainian: Україна, [ukrajina]) is a country in Eastern Europe. Russia is to the north-east of Ukraine,
        Belarus is to the Northwest, Poland and Slovakia are to the West, Hungary, Romania, Moldova and self-proclaimed
        Transnistria are to the South West and the Black Sea is to the Southwest.
        <br>
        Ukraine is a republic. The capital of Ukraine is Kyiv (Ukrainian: Київ). It was a part of the Soviet Union from
        1922 until 1991.
        <br>
        The official language of Ukraine is Ukrainian (Ukrainian: українська мова, [ukrajin’s’ka mova]). In the 2001
        census, about 29% of people in Ukraine said that they consider Russian to be their main language. These two East
        Slavic languages are similar in some ways but different in other ways.
    </div>
</div>
{% block scripts %} 
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}
{% endblock %}