{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


<div class = "container-fluid"id="hom">
  <br>
  <h1 class = "manu">Design is intelligence made visible</h1>
  <br>
  <div class = "row">
    {% for post in posts.items %}
    <div class ="col-md-4">
      <div class ="card">
          <img src="{{url_for('static',filename='images/'+ post.design_image)}}" class="card-img-top" alt="img" style = "width:100%; height : 20%;">
          <div class ="card-body">
              <h5 class="card-title">
                  <h4 class="toper">{{post.designer.username}}</h4>
                  <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
              </h5>
              <p class="card-text">
                  <a class="article-title text-primary" href="" id="info">{{post.design_name}}</a><br>
                  <p class="article-content" id="info">{{post.description}}</p>
              </p>
              {% if post.designer == current_user %}
              <button 
              type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
              Delete Post
              </button>
              {% endif %}
          </div>
      </div>
    </div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this design?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action=" {{ url_for('main.delete_post', post_id=post.id) }} " method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</br></br>
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{url_for('main.designs', page =page_num)}}">{{page_num}}</a>

{% else %}
<a class="btn btn-outline-info mb-4" href="{{url_for('main.designs', page =page_num)}}">{{page_num}}</a>

{% endif %}
{% else %}
{% endif %}

{% endfor %}
</div>

{% endblock content %}
