<div id="navbox">

    <navs id="navs">
        <hr>

        {% if current_user.is_authenticated %}
        <a class="glyphicon glyphicon-user" style="color: #cbd5db; font-weight: 500; margin-right: 20px;">You're logged
            in as</a>
        <br>
        <a class="nav-item nav-link active">{{current_user.username| capitalize}}</a>
        <a href="{{ url_for('auth.logout') }} " onclick="buzz()">LOGOUT</a>
        <a href="{{ url_for('main.new_design_post') }}" onclick="buzz()">CREATE DESIGNS</a>
        {% else %}
        <a href="register" onclick="buzz()">REGISTER</a>
        <a href=" {{ url_for('auth.login') }} " onclick="buzz()">LOGIN</a>
       
        {%endif%}
        <a href="/" onclick="buzz()">HOME</a>
        <a href="designers" onclick="buzz()">DESIGNERS</a>
        <a href="about" onclick="buzz()">ABOUT</a>
    </navs>

</div>


<div id="btn" onclick="touch(),buzz()">
    <div id="d1"></div>
    <div id="d2"></div>
    <div id="d3"></div>
</div>